:root{

--azul-oscuro: #0606A2;
--azul-morado: #2a2aae;
--celete:#60b3ff;
--blanco: #FFFFFF;
--negro: #000000;
--gris-oscuro: #50464d;
--gris-claro: #f2f2f2f2;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--gris-claro);
    color: white;
    padding: 10px 20px;
    position: relative;
    height: 100px;
    box-shadow:1px 1px 8px var(--gris-oscuro);
}

header .logo {
    font-size: 1.5em;
    position: absolute;
    top: -160px;
}
header .logo img{
    width: 420px;
}

header nav {
    position: relative;
}

header nav ul {
    list-style: none;
    margin:1200px;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 30px;
}

header nav ul li a {
    color: var(--azul-morado);
    text-decoration: none;
    font-size: 1.2rem;
    transition: ease-in-out 700ms;
}
header nav ul li a:hover{
    color: var(--celete);
    background-color: var(--gris-oscuro);
    border-radius: 5px;
    padding: 5px;

}

header nav .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

main {
    padding: 20px;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 40px;
    box-shadow: 4px 4px 6px var(--gris-oscuro);
    background-color: var(--gris-claro);
    
}

#banner img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    box-shadow: 4px 4px 6px var(--gris-oscuro);
    width: 40%;
    margin-left: -200px;
}

#banner .description {
    text-align: center;
    margin-top: 20px;
    width: 40%;
    line-height: 2rem;
    text-align: justify;
    background-color: var(--azul-morado);
    color: var(--gris-claro);
    padding: 20px;
}

#servicios {
    margin-top: 40px;
    text-align: center;
    box-shadow: 4px 4px 6px var(--gris-oscuro);
    background-color: var(--gris-claro);
   
}

.carousel {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.servicio {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
}

.servicio img {
    width: 45%;
    height: auto;
    margin-left: 50px;
}

.servicio p {
    width: 45%;
    margin-right: 0px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--azul-morado);
    color: var(--gris-claro);
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

@media (max-width: 768px) {
    .servicio {
        flex-direction: column;
    }

    .servicio img, .servicio p {
        width: 100%;
    }

    .servicio p {
        padding: 10px;
    }
}
#planes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    box-shadow: 4px 4px 6px var(--gris-oscuro);
    background-color: var(--gris-claro);
}

#planes .plan {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
}

#registro, #programacion {
    margin-top: 40px;
    text-align: center;
}

#registro form, #programacion form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

#registro form label, #programacion form label {
    margin-top: 10px;
}

#registro form input, #programacion form input, #registro form select, #programacion form select {
    padding: 10px;
    margin-top: 5px;
}

#registro form button, #programacion form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#recibo {
    margin-top: 40px;
    text-align: center;
}

#reciboTexto {
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    margin: auto;
}

#recibo button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background-color:var(--azul-morado);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

#contactoWhatsApp {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}


/* Responsive design */
@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav .menu-icon {
        display: block;
    }

    #planes {
        flex-direction: column;
    }

    #planes .plan {
        margin: 10px 0;
    }
}
/* Resto de los estilos ... */

/* Estilos para el botón de contacto */
/* Actualizar el archivo styles.css */

/* Asegurarse de que el footer esté al final del contenido */



/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--gris-oscuro);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gris-claro);
    color: var(--azul-oscuro);
    padding: 10px 20px;
    position: relative;
    height: 120px;
}


header .logo {
    height: 460px;
    position: absolute;
    top: -180px;
}

header nav ul {
    list-style: none;
    margin-left: 1200px;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: var(--azul-oscuro);
    text-decoration: none;
}

main {
    padding: 20px;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:var(--gris-claro);

   
    
    
}

#banner img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    
}

#banner .description {
    text-align: center;
    margin-top: 20px;
}

#servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

#servicios .servicio {
    flex: 1 1 calc(25% - 20px);
    text-align: center;
}

#servicios .servicio img {
    max-width: 100%;
    height: auto;
}

#planes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#planes .plan {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
}

#registro {
    margin-top: 40px;
}

#registro form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#registro form label {
    margin-top: 10px;
}

#registro form input {
    padding: 10px;
    margin-top: 5px;
}

#registro form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#registro form button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    #servicios {
        flex-direction: column;
    }

    #planes {
        flex-direction: column;
    }

    #planes .plan {
        margin: 10px 0;
    }
    
}
/*