:root{

    --azul-oscuro: #0606A2;
    --azul-morado: #2a2aae;
    --celete:#60b3ff;
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris-oscuro: #50464d;
    --gris-claro: #f2f2f2f2;
    
    }
.contenedor{
    width: 100%;
    margin-left: 140px ;
    margin-top: 65px;
    color:var(--azul-oscuro);
    
    
}
.misma{
    width: 80%;
    border: 2px solid var(--gris-oscuro);
    justify-content: center;
    text-align: center;
    box-shadow:1px 1px 8px var(--gris-oscuro);
    padding: 12px;
    background-color: var(--gris-claro);
}

.titulo{
    font-size: 2.8rem;
    font-weight: bold;
}
.contenido{
    line-height: 2rem;
    font-size: large;
}

.slogan{
    font-size: 1.3rem;
    color: var(--gris-claro);
    background-color: var(--azul-morado);
    width: 50%;
    margin-left: 25%;
    padding: 10px 10px;
    font-style: italic;
}




